@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

/////// variables ///////
// fmaily
$metal: "Metal Mania", cursive;
$roboto: "Roboto", sans-serif;
// size
$sectionTitle: 28px;
$sectionUnderTitle: 14px;
$info: 14px;
$data: 15px;
$miniData: 10px;
$logo: 45px;
$logoCustom: 21px;

$darkBg: #111111;
$whiteFont: whitesmoke;
