@import "variables";

/////// style ///////
body {
  background-color: $darkBg;
}

table {
  color: white !important;
}

.nav-link.active {
  font-weight: 600;
}

.App {
  font-family: $roboto;
  text-align: center;
  color: $whiteFont;
}

.logo {
  font-family: $metal;
  position: relative;
  font-size: $logo;
  padding: 8px 0;
  margin-bottom: 15px;
  text-align: center;

  &-custom {
    color: red;
    position: absolute;
    font-size: $logoCustom;
    bottom: -7px;
    left: calc(50%);
    transform: rotate(-2deg);
  }
}

.wax {
  color: #f0b925;
}
.flow {
  color: #19ee8c;
}

.tokens-container {
  font-size: 13px;

  & .showOnHover {
    & .hide {
      opacity: 0;
    }
    &:hover {
      & + div.hide {
        opacity: 1 !important;
      }
      & .hide {
        opacity: 1 !important;
      }
    }
  }

  & .hide {
    opacity: 0;
  }

  & .token {
    & .symbol {
      font-weight: bold;

      & img {
        vertical-align: top;
        margin-right: 4px;
      }
    }

    & .info {
      // font-size: ;
      color: rgb(212, 212, 212);
    }

    & .value {
      font-size: 15px;
      font-weight: 600;
    }

    & .price {
    }
  }
}

.red-note {
  color: red;
  font-size: 14px;
}

tbody {
  & tr {
    & th {
      font-size: $info;
    }
    & td {
      font-weight: bold;
      font-size: $data;
    }
  }
}

span.smaller {
  font-size: $miniData;
  font-weight: normal !important;

  &.x2 {
    font-size: 12px;
  }
}

.section {
  margin-bottom: 15px;
  &-title {
    font-size: $sectionTitle;
    font-family: $metal;
  }

  &-undertitle {
    font-size: $sectionUnderTitle;

    & .important {
      color: red;
      font-weight: bold;
      transform: scale(1.3);
      display: inline-block;
      margin: 0 14px;
    }
  }
}

.bug {
  border: 1px solid grey;
  padding: 0 8px;
  margin: 4px 7px;

  &-name {
    font-size: 13px;
  }

  & .circle {
    display: inline-block;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin-left: 4px;

    &.red {
      background-color: red;
    }
    &.green {
      background-color: green;
    }
  }
}
